{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Task Master</h1>
        <p class="lead">Manager your tasks easily</p>
    </div>
</div>
<div class="container">
    {% if tasks|length < 1 %}
        <h4>There are no tasks. Create one below!</h4>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Added</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{ task.id }}">Delete</a><br>
                    <a href="/update/{{ task.id }}">Update</a><br>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <form action="/" method="POST">
        <div class="form-group row">
            <label for="content" class="col-form-label">Task</label>
            <div class="col-sm-10">
                <input type="text" name="content" id="content" placeholder="Enter your task here">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
{% endblock %}