/* body{
    background: url(https://images.unsplash.com/photo-1598509679554-c079f8769446?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=643&q=80);
    background-repeat: no-repeat;
} */

div {
    background: blue;
    border: 5px dotted black;
}
